<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/book.css') }}">
    <title>Booking_Form</title>
</head>
<body>
    <form action="#" method="post">
        <div class="elem-group">
            <h2>---------------------- Your Details -----------------------</h2>
        </div>
        <div class="elem-group">
            <label for="email">Your E-mail</label>
            <input type="email" id="email" name="v_email" placeholder="john.doe@email.com" required>
        <div class="elem-group">
            <button type="submit">Search!</button>
        </div>
    </form>
</body>
</html>